<h1>Edit --<%=@attraction.name %>-- </h1>
<form action="/attractions/<%=@attraction.id%> " method="post">

  <label for="city">
    City:
    <select id ="city" name="city_id">
      <% for city in @cities %>
        <% selected_tag = @attraction.city_id == city.id ? "selected" : "" %>
        <option value="<%=city.id%>" <%= selected_tag %> ><%= city.name %></option>
      <% end %>
    </select>
  </label>

  <br>

  <label for="name">Attraction:</label>
    <input class="btn2" type="text" value="<%=@attraction.name%>" name="name" id="name">
    <br>

    <label for="review">Comment:</label>
      <input class="btn2" type="text" value="<%=@attraction.review%>" name="review" id="review">

    <input class="btn" type="submit" value="Submit">
</form>
