<h1><%=@country.name%>, <%=@country.continent%></h1>
<p>I've been to this country <%= @country.visits_to_country %> times </p>

<h3>Cities I've been to in <%=@country.name %>: </h3>

<ul>
  <% @country.cities.each do |city| %>
  <li><%= city.name %></li>
  <% city.attractions.each do |attraction| %>
  <%= attraction.name%> || <%= attraction.review %>
  <br>
  <br>
  <% end  %>
  <% end  %>
</ul>

<h3>Languages spoken in <%=@country.name %>: </h3>

<ul>
  <% for language in @languages %>
    <li><%=language.name%></li>
      <% end %>
</ul>


<br>
<br>
<a href="/cities/new">Add City</a>
<br>
<a href="/attractions/new">Add Attraction</a>
<br>
<a href="/countries/<%=@country.id%>/edit">Edit</a>
