<h1><%=@country.name%></h1>
<p>I've been to this country <%= @country.visits_to_country %> times </p>

<h3>Cities I've been to in <%=@country.name %>: </h3>

<ul>
  <% @country.cities.each do |city| %>
  <li><%= city.name %></li>
  <% end  %>
</ul>

<a href="/countries/<%=@country.id%>/edit">Edit</a>
